<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
  <body>
    
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">TodoList</li>
          <li><a href="/">Home</a></li>
          <li><a href="/todo/create">Add Todo</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="container">
        <div class="row">
            <div class="column small-12">
              {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="card">{{flash_message}}</div>
              {% endfor %}
              {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    {% block javascripts %}{% endblock %}
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


    