{% extends 'base.html.twig' %}

{% block body %}
	<a class="button" href="/">Return</a>
	<hr>
	<h2>{{todo.name}}</h2>

	<ul class="">
		<li class="">Category: {{todo.category}}</li>
		<li class="">Priority: {{todo.priority}}</li>
		<li class="">Due: {{todo.dueDate|date('F j, Y @ g:i a')}}</li>
	</ul>
	<p>
		{{todo.description}}
	</p>
{% endblock %}