{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="">Recent Todos</h2>
	<table>
		<thead>
		    <tr>
				<th width="20">#</th>
				<th>Todo</th>
				<th>Due Date</th>
				<th></th>
		    </tr>
		</thead>
		<tbody>
			{% for todo in todos %}
				<tr>
					<th>{{todo.id}}</th>
					<td>{{todo.name}}</td>
					<td>{{todo.dueDate|date('F j, Y @ g:i a')}}</td>
					<td>
						<a href="/todo/details/{{todo.id}}" class="button success">View</a>
						<a href="/todo/edit/{{todo.id}}" class="button">Edit</a>
						<a href="/todo/delete/{{todo.id}}" class="button alert">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}